
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Header section*/
.sub-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    position: relative;
    z-index: 101;
    height: 50vh;
}
.sub-header-text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.sub-header-text h1{
    font-size: 38px;
}
.sub-header .nav-links ul li{
    line-height: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    position: relative;
    z-index: 101;
    min-height: 100vh;
}
.header-text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-text h1{
    font-size: 38px;
}
.header-text p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.hero-btn{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 10px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.8s ease;
}
.hero-btn:hover{
    border: 1px solid #BA0046;
    background: #161515;
    color: #7D1664;
    
}
.nav-links ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    font-size: 1rem;
    padding: 7px 13px;
    text-transform: uppercase;
}
.theme-toggle-btn {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    top: 0;
    right: 0;
    position:absolute;
}
.dark-mode{
    background-color: #161515;
    color:#fff;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #BA0046;
    display: block;
    margin: auto;
    position: absolute; 
    top: 70%;
    left: 50%;
    transform: translate(-50%);  /* centres the line under the text*/
    transition: 0.7s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links i {
    padding-right: 15px;
}
.background-img {    
    background-image: linear-gradient(rgba(22, 21, 21, 0.8),rgba(22, 21, 21, 0.8)),url("../website-images-assets/Cantor-building.jpg");
    background-size: cover;
    background-position: center;
}
.sub-background-img{
    background-image: linear-gradient(rgba(22, 21, 21, 0.8),rgba(22, 21, 21, 0.8)),url("../website-images-assets/Cantor-building-6.jpeg");
    background-size: cover;
}
a:link{
    color: hsla(0,0%,100%,.7);
}
.checkbtn{               /*Dropdown navigation menu button*/
    font-size: 30px;
    color: white;
    float: right;
    line-height: 90px;
    margin-right: 25px;
    cursor: pointer;
    display: none;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.main-content {
    margin-bottom: 100px;
    padding: 10px 0.5em 10px 0.5em;
    text-align: center;
}
.main-content p{
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
.main-content h1{
    font-size: 36px;
    font-weight: 600;
}
.main-content p, 
.main-content h2{
    margin: 9px;
}
.main-content section{
    margin-bottom: 20px;
}
.design-layout{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.course-col-left h3,
.course-col-right h3{
    font-size: 25px;
    text-shadow: 2px 2px rgba(24, 24, 29, 0.8);
    color:#fff;

}
/*Home page section */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    background: #ebe9e9;
}
.course-col-left{
    background-image: linear-gradient(rgba(22, 21, 21, 0.3),rgba(22, 21, 21, 0.3)), url("../website-images-assets/Computing-Playstation-Lab-2.jpg");
    background-size: cover;
    background-position: 2px;
}
.course-col-right{
    background-image: linear-gradient(rgba(22, 21, 21, 0.2),rgba(22, 21, 21, 0.2)), url("../website-images-assets/IMG_0170.jpeg");
    background-size: cover;
    background-position: center
}
.course-col-left,
.course-col-right{
    flex-basis: 44%;
    border-radius: 8px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    color: #fff;
    min-height: 250px;
}
.course-col-left:hover,
.course-col-right:hover{
    box-shadow: 0 0 20px 0 rgba(24, 24, 29, 0.6);
    text-decoration: underline;
}
h3{
    font-weight: 600;
    margin: 12px 0;
}
.information{
    width: 80%;
    margin: auto;
    text-align: center;
   padding-top: 60px;
    background:#ebe9e9;

}
.information h2{
    color: #000000;
}
.information-col{
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: center;
    padding: 20px 12px;
    box-sizing: border-box;
    color: #fff;
    min-height: 250px;
    background: #94023a;
    transition: 0.5s;
    border-radius: 8px;
    margin: 10px 10px;
}
.information-col img{
    max-width: 100%;
    height: 280px;
}
.information-col:hover {
    box-shadow: 0 0 20px 0 rgba(24, 24, 29, 0.6);
}
.information-col:hover h3{
    text-decoration: underline;
}
/* About us section */
.about-us-section{
    width: 90%;
    margin: auto;
    text-align: left;
   padding-top: 60px;
    background:#ebe9e9;

}
.about-us-col img{
    max-width: 100%;
    height: auto;
    padding: 12px 10px;
}
/*Facilities section*/
.facilities-section{
    width: 90%;
    margin: auto;
    text-align: center;
   padding-top: 60px;
    background:#ebe9e9;
}
.facilities-section li{
    list-style: inside;
    padding-bottom: 20px;
    padding-top: 20px;
}
/*information for students section*/
.information-students-section{
    width: 80%;
    margin: auto;
    background:#ebe9e9;
    padding-bottom: 10px;
}
.information-students-section li{
    list-style: inside;
    padding-top: 20px;
    text-align: center;

}
/*information for staff section*/
.information-staff-section{
    display: flex;
    margin: auto;
}
.information-staff-section-text{
    flex-basis: 15%;
    margin: 10px;
    background: #ebe9e9;
    border-radius: 8px;
}
/*Computing courses section*/
.computing-courses-section{
    width: 90%;
    margin: auto;
    background: #ebe9e9;
}
.computing-courses-col img{
    max-width: 100%;
    height: auto;
    padding: 12px 10px;
}
.computing-courses-col aside{
    font-size: 15px;
    padding: 12px 10px;
}
/*Design courses section*/
.design-courses-section{
    width: 90%;
    margin: auto;
    background: #ebe9e9;
}
.design-courses-col img{
    max-width: 100%;
    margin: auto;
    padding: 12px 10px;
}
.design-courses-col aside{
    font-size: 15px;
    padding: 10px 12px;
}
/*Learning resources section*/
.learning-resources-section{
    background: #ebe9e9;
    margin: auto;
    width: 80%;
    text-align: left;
}
.learning-resources-section li, 
.learning-resources-section p, 
.learning-resources-section i{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 12px;
}
.learning-resources-section li {
    list-style: lower-roman inside;
}
.learning-resources-section h4{
    font-weight: 500;
    margin-top: 10px;
}
/*Contact us section*/
.contact-us-section{
    border-radius: 5px;
    padding: 20px;
    background: #ebe9e9;
    margin: auto;
}
.contact-us-section label {
    font-weight: 500;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #7D1664;
    color: white;
    padding: 11px 10px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #6d1357;
}
/*Footer section*/
.footer {
    background-color: #161515;
    color: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-left{
    display: flex;
    align-items: center;
    margin-right: 11px;
}
.footer-logo{
    max-width: 100px;
}
.footer-right{
    font-size: 13px;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
}
.footer-details{
    padding-top: 0.5em;
}
.sitemap-section{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.sitemap-section h4{
    font-size: 16px;
    margin-bottom: 8px;
}
.sitemap-section ul{
    padding: 0;
    max-width: 48%;
}
.sitemap-left li{
    margin-bottom: 8px;
}
.sitemap-left a {
    color: hsla(0,0%,100%,.7);
    text-decoration: none;
    font-size: 13px;
}
.sitemap-right{
    max-width: 50%;
}
.sitemap-right li{
    margin-bottom: 8px;
}
.sitemap-right a {
    color: hsla(0,0%,100%,.7);
    text-decoration: none;
    font-size: 13px;
}
.icons {
     margin-top: auto;
     
}
.icons a{
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
}
/*Media queries*/
@media only screen and (max-width: 480px){
    .design-layout img{
        display: none;
    }
    .about-us-section img{
        display: none;
    }
    .computing-courses-section img {
        display: none;
    }
    .design-courses-section img {
        display: none;
    }
}
@media only screen and (max-width: 970px){
    .information-staff-section{
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .footer-container{
        border-bottom: 1px solid #707070;
    }
    .footer-left,
    .footer-right{
        margin-bottom: 15px;
        margin-right: 0;
    }
    .sitemap{
        text-align: center;
    }
    .icons{
        border-top: 1px solid #707070;
    }
    .design-layout{
        flex-direction: column;
    }
}
@media (max-width: 952px){
    .logo {
        display: inline-block;
        padding-left: 8px;
        width: 110px;
        height: auto;   
    }
}
#check{
    display: none;
}
@media (max-width: 858px){
    
    .checkbtn{
        display: block;
        color: #fff;
        margin: 15px;
        cursor: pointer;
    }
    .sub-header ul,
    .header ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgb(44, 42, 44);
        top: 84px;
        left: -109%;
        transition: all 0.5s;
        text-align: center;
        margin: 0 auto;
        z-index: 100;
    }
     .sub-header nav ul li,
     .header nav ul li{
        display: block;
        margin: 35px 0px;
        line-height: 30px;
    }
    .sub-header nav ul li a,
    .header nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .nav-links ul li::after{
        top: 100%;
    }
    .nav-links ul li:hover::after{
        width: 35%;
    }
}